.banner {
	@include spacing(12rem);

	color: white;
	position: relative;
	display: flex;
	align-items: center;

	@media (max-width: 700px) {
		padding: 8rem 5rem;
	}
	@media (max-width: 350px) {
		padding: 6rem 2rem;
	}

	.title {
		color: #bfe1ff;
		line-height: 7rem;
		z-index: 2;
		max-width: 65rem;
		font-family: 'Cera Pro', Roboto, Droid Sans;
		font-size: 5rem;
		font-weight: 600;

		@media (max-width: 1200px) {
			font-size: 4rem;
			line-height: 6rem;
			max-width: 50rem;
		}
		@media (max-width: 990px) {
			font-size: 3.5rem;
			line-height: 5rem;
			max-width: 35rem;
		}

		@media (max-width: 700px) {
			max-width: 100%;
			font-size: 4rem;
		}
	}

	.barter {
		z-index: 1;
		position: absolute;
		bottom: 15rem;
		right: 2rem;
		width: 50rem;

		@media (max-width: 1200px) {
			width: 40rem;
			bottom: 18rem;
		}

		@media (max-width: 990px) {
			width: 35rem;
			bottom: 20rem;
		}
		@media (max-width: 700px) {
			display: none;
		}
	}

	.bg {
		// z-index: -1;
		position: absolute;
		right: 0;
		height: 60rem;

		@media (max-width: 1200px) {
			height: 50rem;
		}

		@media (max-width: 990px) {
			height: 45rem;
		}

		@media (max-width: 700px) {
			display: none;
		}
	}

	.btn {
		@extend %button;
	}
}
