.navbar {
	background-color: #47505d;
	color: #bef1ff;
	font-family: 'Cera Pro', Roboto, Droid Sans;
	font-weight: 500;
	font-size: 2rem;

	.navbar-brand {
		// font-size: 2rem;

		svg {
			width: 8rem;

			@media (max-width: 700px) {
				width: 6rem;
			}
			@media (max-width: 450px) {
				width: 5rem;
			}
		}
	}

	.navbar-toggler {
		&,
		&:focus {
			border: none;
			outline: none;
		}
		font-size: 2rem;
	}

	.navbar-nav {
		align-items: center;
		padding: 1rem 0;

		.nav-link {
			&:active,
			&:hover,
			&:focus {
				color: #bef1ff;
			}

			color: #bef1ff;
			padding: 0.5rem 2rem;
		}

		.btn {
			@extend %button;
		}
	}
}
