.safetyInstructions {
	font-family: 'Cera Pro', Roboto, Droid Sans;
	font-family: font(secondary);
	background-color: #ffbc36;
	text-align: center;
	padding: 10px 0;
	font-size: 1.5rem;
	font-weight: 500;
}
