.aboutUs {
	@include spacing(8rem);

	color: #fff;
	font-family: 'Cera Pro', Roboto, Droid Sans;
	text-align: center;

	h2 {
		@extend %heading;
	}

	p {
		@extend %subHeading;
		color: #fff;
		text-align: center;
		position: relative;
		margin: 6rem auto;
		font-weight: 500;
		// padding: 0 2rem;

		&::before {
			content: url('../icons/quote.svg');
			position: absolute;
			top: -3rem;
			// left: -3rem;
			width: 10rem;
			height: 10rem;
		}
	}

	.message {
		z-index: 2;
		display: flex;
		max-width: 130rem;
		margin: 12rem auto;
		border: 10px solid #ffbc36;
		align-items: center;

		.text {
			order: 0;
			font-weight: 500;
			font-size: 2.8rem;
			text-align: left;
			padding: 0 10rem 0 5rem;

			.btn {
				@extend %button;
			}
		}

		.image {
			order: 1;
			z-index: -1;
			// width: 80rem;
			img {
				transform: scale(1.2);
				width: 55rem;
			}
		}

		@media (max-width: 1200px) {
			.text {
				font-size: 2.6rem;
				padding: 0 6rem 0 3rem;
			}
			.image {
				img {
					width: 45rem;
				}
			}
		}

		@media (max-width: 990px) {
			.text {
				font-size: 2.2rem;
			}
			.image {
				img {
					width: 35rem;
				}
			}
		}
		@media (max-width: 860px) {
			flex-direction: column;
			width: auto;
			padding: 2rem;
			margin: 4rem auto;
			.text {
				order: 1;
				// font-size: 2.2rem;
				padding: 0;
				padding-top: 2rem;
			}
			.image {
				order: 0;
				z-index: 0;
				width: 100%;
				img {
					width: 100%;
					object-fit: cover;
					transform: none;
				}
			}
		}

		@media (max-width: 550px) {
			border: 5px solid #ffbc36;
		}
	}
}
