.banner {
	color: white;
	height: 60rem;
	// background-color: #47505d;
	position: relative;
	display: flex;
	align-items: center;

	// justify-content: space-between;
	// flex-wrap: wrap;

	.title {
		color: #bfe1ff;
		line-height: 7rem;
		z-index: 2;
		max-width: 65rem;
		margin-left: 4rem;
		// font-family: Agency FB;
		font-family: 'Cera Pro', Roboto, Droid Sans;
		font-size: 5rem;
		font-weight: 600;
		// margin-top: -4rem;
		// align-self: center;
	}
	.barter {
		z-index: 1;
		position: absolute;
		bottom: 15rem;
		right: 2rem;
		width: 50rem;
		// align-self: flex-end;
		// margin: 2rem;
	}
	.bg {
		z-index: -1;
		position: absolute;
		// bottom: 2rem;
		right: 0;
		// width: 700px;
		height: 60rem;
		// align-self: flex-end;
		// margin: 2rem;
	}
}
