.footer {
	font-family: 'Cera Pro', Roboto, Droid Sans;
	font-weight: 500;
	color: white;
	// margin: 2rem 0;
	background: #2f3a4b;
	@include spacing(4rem);

	.info {
		@media (max-width: 1000px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
		}

		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		margin: 2rem auto;
		flex-wrap: wrap;
		// max-width: 90%;
		align-items: flex-start;

		.logo {
			margin: 1rem;
			font-size: 2rem;
		}

		.links {
			div:first-of-type {
				color: #949494;
				margin-bottom: 0.25rem;
				font-size: 2rem;
				font-weight: 500;
				cursor: auto;
			}
			line-height: 3rem;
			font-weight: 400;
			display: flex;
			flex-direction: column;
			margin: 1rem;
			font-size: 1.8rem;
			cursor: pointer;
		}
		.social {
			display: flex;
			flex-direction: column;

			.row {
				display: flex;
				justify-content: center;
				svg {
					cursor: pointer;
					margin: 1rem;
				}
			}
		}
	}

	// .navigation {
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;
	// 	flex-wrap: wrap;

	// 	div {
	// 		font-size: 14px;
	// 		margin: 00.25rem;
	// 	}
	// }
}
