.navbar {
	background-color: #47505d;
	color: #bef1ff;
	font-family: 'Cera Pro', Roboto, Droid Sans;
	font-weight: 500;
	font-size: 2rem;

	.navbar-toggler {
		&,
		&:focus {
			border: none;
			outline: none;
		}
	}

	.navbar-nav {
		align-items: center;
		padding: 1rem 0;
		.nav-link {
			&.active {
				color: #bef1ff;
			}

			color: #bef1ff;
			padding: 0.5rem 2rem;
		}

		.btn {
			&,
			&:focus,
			&:active {
				background-color: #ffbc36;
				border: none;
				outline: none;
				box-shadow: none;
			}
			font-family: 'Cera Pro', Roboto, Droid Sans;
			font-weight: 500;
			color: #1a2639;
			border-radius: 2.5rem;
			font-size: 1.6rem;
			padding: 0.8rem 1.5rem;
		}
	}
}
